{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1><?= $page_title ?></h1>
    <table class="table">
      <thead>
	<tr>
	  <td>Date de tweet</td>
	  <td>Tweet</td>
	  <td>Login</a></td>
	</tr>
      </thead>
      <tbody>
      {% for item in data %}
      <tr>
	<td>{{ item.created_at }}</td>
	<td>{{ item.text }}</td>
	<td><a href="https://twitter.com/{{item.username}}">{{ item.username }}</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
