<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}BigDat'ass{% endblock %}</title>
	{% block stylesheets %}
	{% stylesheets
	'../vendor/twitter/bootstrap/less/bootstrap.less'
	'../vendor/twitter/bootstrap/less/responsive.less'
	filter='lessphp,cssrewrite'
	%}
	{% endstylesheets %}
	{% endblock %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" >
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="{{ path('bigdatass_homepage') }}">BigDat'Ass</a>
	  </div>
	  <div id="navbar" class="navbar-collapse collapse">
	    <form class="navbar-form navbar-right" action="{{ path('tweet_searchpage')}}" method="post">
	      <div class="form-group">
		<input type="text" placeholder="#Tag | Word(s)" class="form-control" name="keyword" required="required" >
	      </div>
	      <button type="submit" class="btn btn-success">Search</button>
	    </form>
	  </div>
	</div>
      </nav>
      {% block body %}{% endblock %}
      {% block javascripts %}{% endblock %}
    </body>
</html>
